:root{
    --dark: #EEE;
    --with: #FFFFFF;
    --black: #000000;
    --light: #EEE;
    --grey: #808080;
}
body{
	display: flex;
	flex-direction: column;
	min-height: 100wh;
	background: var(--grey);
	color: #fff56f;
}
header{
	padding: 2rem 1rem;
	max-width: 800px;
	width: 0auto;
}
header h1{
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--blue);
	margin-bottom: 1rem;
}
#new-task-input::placeholder{
	color: #ffffff;
}
#new-task-submit{
	color: var(--with);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right,var(--black),var(--black));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.45s;
}
#new-task-submit:hover{
	opacity: 0.8;
}
main{
	flex: 1 1 0%;
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0auto;
}
.task-list {
	padding: 1rem;
}
.tasks .task{
	display: flex;
	justify-content: space-between;
	background-color: var(--light) ;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task-list h2{
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--black);
	margin-bottom: 1rem;
}
#tasks.task . content.text{
	color: var(--black);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.45s;
}
#tasks.task.content.text:not(:read-only){
	color: var(--pink);
}

#tasks.task.actions{
	display: flex;
	margin: 0 -0.5rem;
}
.tasks.actions button{
	cursor: pointer;
	margin: 0.05rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.45s;
}
.tasks.actions button:hover{
	opacity: 0.8;
}
.tasks.actions.edit{
	background-image: linaer-gradient(to right,var(--black));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
 .tasks.actions.delete{
 	color: black;
 } 
 .ms{
 	flex: 1 1 0%;
 	background-color: var(--with);
 	padding: 1rem;
 	border-radius: 1rem;
 	margin-right: 1rem;
 	color: var(--black);
 	font-size: 1.25rem;
 }
 .m{
 	color: black;
 }
 table{
 	align-content: center;
 	color: white;
 	width: 70%;
 	height: 70%;
 	font-family: sans-serif;
 	margin-top: 5px;
 	margin-bottom: 5px;
 	margin-right: 1rem;
 	color: var(--black);
 	font-size: 1.25;
 }
 .m{
 	color: black;
 }
 table{
 	align-content: center;
 	color: white;
 	width: 70%;
 	height: 70%;
 	font-family: sans-serif;
 	margin-top: 5px;
 	margin-bottom: 5px;
 	margin-left: 15px;
 	font-size: 15px;
 }

